.nav-menu a {
    display: grid;
    grid-template-columns: 25px auto;
    grid-gap: 5px;
}

.nav-menu i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autentification__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
}

.brand-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-link .brand-image {
    max-width: 50px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    margin: 0;
}

.brand-image__container {
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #b3b3b3;
}

.user-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-form {
    padding: 15px;
}

.input-form input,
.input-form select {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #000;
}

.btn-success {
    color: #fff;
    background-color: #1E2E52;
    border-color: #1E2E52;
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:hover,
.btn-success:focus {
    background-color: #2c4e97;
    border-color: #2c4e97;
}

.home__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 330px;
}

.home-table .missing {
    background: #ff000033;;
}

.home-table .missing-competence p {
    color: #db0000;
    font-weight: 500;
}

.competences__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 330px;
}

.competences__form input {
    border: 1px solid #777;
    width: 100%;
}

.input-form {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

.input-form input,
.input-form select {
    width: 100%
}

.input-form label {
    margin-bottom: 1rem;
}

.input-form p {
    font-weight: 500;
    margin-bottom: 0;
}
